<head>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</head>

<!-- Modal For Adding Project-->
<div aria-hidden="true" aria-labelledby="formModal" class="modal fade" id="form-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Add Project</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="project-form" method="post" name="project-form">
          <fieldset>
            <legend>General:</legend>

            <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Status</div>
              </div>
                <select [(ngModel)]="this.project.status" class="custom-select" id="project_status" name="form_status">
                   <option value="WIP">In Progress</option>
                   <option value="Completed">Completed</option>
                   <option value="Cancelled">Cancelled</option>
                   <option value="Closed">Closed</option>
                 </select>
            </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Description</div>
                </div>
                <input [(ngModel)]="this.project.description" class="form-control" id="description" name="description"
                       placeholder="description" type="text">
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Assigned To</legend>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Project Manager</div>
                </div>
                <select [(ngModel)]="project.projectManager" class="custom-select" id="employeeDropDown2" name="form_status">
                  <!-- Put list of employees here here -->
                  <option *ngFor="let e of users" [value]="e._id">{{e.username}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Employees</div>
                </div>
                <select [(ngModel)]="project.employees" class="custom-select" id="employeeDropDown" multiple="multiple"
                        name="form_status">
                  <option *ngFor="let e of users" [value]="e._id">{{e.username}}</option>
                </select>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="submitForm()" type="button" class="btn btn-primary" id="submit-project-add" name="submit">
          Submit
        </button>
        <button (click)="this.displayForm = false;" class="btn btn-secondary" id="btn-cancel" data-dismiss="modal"
                type="button">Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal for Projects-->


<!-- Modal For Adding Employees
<div aria-hidden="true" aria-labelledby="formModalInvoice" class="modal fade" id="form-modal-employee" role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Add Employees</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="project-form" method="post" name="project-form">
          <fieldset>
            <legend>Add Employee:</legend>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Employees</div>
                </div>
                <select class="custom-select" id="employeeDropDown" multiple="multiple" name="form_status">

                </select>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="submitFormEmployee()" type="button" class="btn btn-primary" id="submit-invoice-add"
                name="submit">Submit
        </button>
        <button (click)="this.displayForm = false;" class="btn btn-secondary" id="btn-cancel" data-dismiss="modal"
                type="button">Cancel
        </button>
      </div>
    </div>
  </div>
</div>
-->
<!-- End of Modal for Employees-->


<!-- Modal For Invoice-->
<div aria-hidden="true" aria-labelledby="formModalInvoice" class="modal fade" id="form-modal-invoice" role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle_inv">Add Invoice</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="invoice-form" method="post" name="project-form">
          <fieldset>
            <legend>Add Invoice:</legend>

            <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Status</div>
              </div>
             <select [(ngModel)]="this.invoice.status" class="custom-select" id="invoice_status" name="form_status">
                <option value="Outstanding">Outstanding</option>
                <option value="Paid">Paid</option>
                <option value="Cancelled">Cancelled</option>
                <option value="Closed">Closed</option>
              </select>
            </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Description</div>
                </div>
                <input [(ngModel)]="this.invoice.description" class="form-control" id="description_invoice" name="description_Invoice"
                       placeholder="description" type="text">
              </div>
            </div>


              <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                         <div class="input-group-text">Total Cost</div>
                      </div>
                        <input [(ngModel)]="this.invoice.totalCost" class="form-control" id="total_cost" name="Total Cost"
                           placeholder="Enter Cost" type="text">
                    </div>
              </div>

              <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                         <div class="input-group-text">Seller</div>
                      </div>
                        <input [(ngModel)]="this.invoice.seller" class="form-control" id="seller" name="seller"
                           placeholder="Enter Seller" type="text">
                    </div>
              </div>

          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="submitFormInvoice()" type="button" class="btn btn-primary" id="submit-invoice-add"
                name="submit">Submit
        </button>
        <button (click)="this.displayForm = false;" class="btn btn-secondary" id="btn-cancel_inv" data-dismiss="modal"
                type="button">Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal for Invoice-->


<!-- Modal For Purchase Order-->
<div aria-hidden="true" aria-labelledby="formModalPO" class="modal fade" id="form-modal-po" role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle_po">Add Purchase Order</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="po-form" method="post" name="project-form">
          <fieldset>
            <legend>Add Purchase Order:</legend>

            <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Status</div>
              </div>
             <select [(ngModel)]="this.purchaseOrder.status" class="custom-select" id="Purchase_status" name="form_status">
                <option value="Outstanding">Outstanding</option>
                <option value="Paid">Paid</option>
                <option value="Cancelled">Cancelled</option>
                <option value="Closed">Closed</option>
              </select>
            </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Description</div>
                </div>
                <input [(ngModel)]="this.purchaseOrder.description" class="form-control" id="description_po" name="description_Invoice"
                       placeholder="description" type="text">
              </div>
            </div>

              <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                         <div class="input-group-text">Total Cost</div>
                      </div>
                        <input [(ngModel)]="this.purchaseOrder.totalCost" class="form-control" id="total_cost_po" name="Total Cost Purchase Order"
                           placeholder="Enter Cost" type="text">
                    </div>
              </div>


              <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                         <div class="input-group-text">Vendor</div>
                      </div>
                        <input [(ngModel)]="this.purchaseOrder.buyer" class="form-control" id="buyer_po" name="buyer"
                           placeholder="Enter vendor" type="text">
                    </div>
              </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="submitFormPo();"  type="button" class="btn btn-primary" id="submit-purchaseOrder-add"
                name="submit">Submit
        </button>
        <button (click)="this.displayForm = false;" class="btn btn-secondary" id="btn-cancel_po" data-dismiss="modal"
                type="button">Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal for Purchase Order-->


<!-- Main Content Area -->
<div class="container-fluid full-height">
  <div class="row full-height">
    <section class="col-12" id="content">

      <div class="row">
        <!-- Add Content Area Here -->
        <div class="col-md-4"><h2>Project</h2>
        </div>
        <div class="col-md-8" id="status">

          <div id="status-message" class="">
            <!-- Put status messages here -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div id="table-summary" class="container-scrollable" style="max-height: 70%;">
            <!-- table displayed here -->
          </div>

          <div class="text-center mt-3" id="action">
            <button *ngIf="isUserAdmin" class="btn btn-success btn-rounded add-project-button" data-target="#form-modal"
                    data-toggle="modal">
              <i class="far fa-plus-square"></i>Add Project
            </button>
          </div>

        </div>

        <div class="col-md-8 project-details">
          <h2 class="detail-text">Project Details</h2>

          <div class="project-item border-top">
            <!-- <h3><i class="fa fa-tasks"></i> Details:</h3> -->
            <h2>
              Project ID: {{selectedProject.id}}
              Description: {{selectedProject.description}}<br>
            </h2>

            <div class="project-item border-top">
              <h3><i class="fa fa-address-card"></i> Employees Assigned:</h3>
            </div>

            <div id="employee-summary" class="container-scrollable" style="max-height: 70%;">
              Loading...
            </div>

            <div class="project-item border-top">
              <h3><i class="fa fa-file-invoice-dollar"></i> Invoices:</h3>
            </div>

            <div id="invoice-summary" class="container-scrollable" style="max-height: 70%;">
              Loading...
            </div>

            <div class="project-item border-top">
              <h3><i class="fa fa-inbox"></i> Purchase Orders:</h3>
            </div>

            <div id="purchase-summary" class="container-scrollable" style="max-height: 70%;">
              Loading...
            </div>

            <div id="action" class="text-center mt-3">


              <button (click)="resetForm();" class="btn btn-success btn-rounded" data-target="#form-modal-invoice" data-toggle="modal"><i
                class="far fa-plus-square"></i>Add Invoice
              </button>

              <button (click)="resetForm();" class="btn btn-success btn-rounded" data-target="#form-modal-po" data-toggle="modal"><i
                class="far fa-plus-square"></i>Add PO
              </button>
            </div>

          </div>

        </div>

      </div>
    </section>

  </div>
</div>
