.project-details {
    background-color: white;
    color: rgb(93, 106, 119);
}

.detail-text {
    color: rgb(93, 106, 119);
}
.add-project-button {
    background-color: #f19f4d;
    outline-color: #f19f4d;
}

button :focus{
    background-color: #f9cf00 !important;
    outline-color: #f9cf00 !important;
}

h2 {
    color: rgb(93, 106, 119);
    font-size: 2em;
    margin-bottom: 0.3em;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 0.3em;
}

.modal-header {
  color: #ddd;
}

.table {
  font-size: 0.9em;
}

.table thead {
  background-color: #145fa0;
}
