.login {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 10%;
  background: #4484ce;
  border-radius: 5%;
}
html{
  color: white;
}

.login .login-heading {
  margin-bottom: 10px;
}

button {
  font-size: 75%;
  background-color: #f19f4d;
  color: white;
}

input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3b7eb4;
  opacity: 0.5; /* Firefox */
}

.login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}


.login input[type="username"] {
  margin-bottom: 5px;
}

.login input[type="password"] {
  margin-bottom: 10px;
}

.login-incorrect {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #dd5c5c;
}