.login {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.login .login-heading {
  margin-bottom: 10px;
}

.login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}


.login input[type="username"] {
  margin-bottom: 5px;
}

.login input[type="password"] {
  margin-bottom: 10px;
}

.login-incorrect {
  margin-top: 5px;
  margin-bottom: 5px;
  color: red;
}