#sidenav {
  width: 250px;
}

.navbar-css {
  background-color: #4484Ce !important;
}

.navbar-title {
  color: #f19f4d !important;
}

.breadcrumb-item {
  background-color: #4484Ce !important;
}

a {
  color: white !important;
}

i {
  color: white;
}