<nav class="navbar navbar-expand-xs navbar-dark bg-primary">
  <div>
    <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" onclick="openNav()" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" id="company">smallFish ERP</a>

    <ol class="breadcrumb bg-primary">
      <li class="breadcrumb-item"><a href="#">Projects</a></li>
    </ol>
  </div>

  <div id="action">

    <!-- Add Page Action Buttons Here -->
  </div>

  <div class="ml-auto align-items-center" id="nav_rhs">
            <span class="btn btn-dark bg-primary" style="color: #fff;" type="button">
                        <i class="fa fa-2x fa-bell"> </i><span class="badge badge-danger">4</span>
                    </span>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control btn-rounded" name="search" placeholder="search" type="text"/>
        <div class="input-group-append">
          <span class="input-group-text btn-rounded"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
  </div>
</nav>
