<nav class="navbar navbar-expand-xs navbar-dark bg-primary">
  <div id="nav_lhs">
    <button (click)="displayMenu = true;" aria-controls="navbarColor01" aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" id="company">smallFish ERP</a>

    <ol class="breadcrumb bg-primary">
      <li class="breadcrumb-item"><a href="#">Projects</a></li>
    </ol>
  </div>

  <!-- Add Page Action Buttons Here
  <div id="action">

  </div>
  -->

  <div class="ml-auto align-items-center" id="nav_rhs">
     <span (click)="toggleChat();" class="btn btn-dark bg-primary" style="color: #fff;">
                <i class="fa fa-2x fa-comments"> </i>
            </span>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control btn-rounded" name="search" placeholder="search" type="text"/>
        <div class="input-group-append">
          <span class="input-group-text btn-rounded"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Navigation Slide out Menu
<app-menu></app-menu> -->

<div *ngIf="displayMenu" class="sidenav bg-primary" id="sidenav">
  <nav class="navbar navbar-expand-xs navbar-dark bg-primary">
    <a (click)="displayMenu = false;" class="closebtn" href="javascript:void(0)">&times;</a>
    <a routerLink="/projects"><i class="fa fa-2x fa-fw fa-archive"></i>Projects</a>
    <hr class="white">
    <a routerLink="/admin"><i class="fa fa-2x fa-fw fa-user-ninja"></i>Admin</a>
    <hr class="white">
    <a routerLink="/login"><i class="fa fa-2x fa-fw fa-sign-out-alt"></i>Logout</a>
  </nav>
</div>
