<nav class="navbar navbar-expand-xs navbar-dark bg-primary navbar-css">
  <div id="nav_lhs">
    <button (click)="displayMenu = true;" aria-controls="navbarColor01" aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h4 id="company">smallFish</h4>

  </div>

  <div class="ml-auto align-items-center" id="nav_rhs">
     <span (click)="toggleChat();" class="btn btn-dark bg-primary chat-icon-background" style="color: #fff;">
                <i class="fa fa-2x fa-comments"> </i>
            </span>
  </div>
</nav>

<!-- Navigation Slide out Menu
<app-menu></app-menu> -->

<div *ngIf="displayMenu" class="sidenav bg-primary" id="sidenav">
  <nav class="navbar navbar-expand-xs navbar-dark bg-primary">
    <a (click)="displayMenu = false;" class="closebtn" href="javascript:void(0)">&times;</a>
    <a (click)="displayMenu = false;" routerLink="/projects"><i class="fa fa-2x fa-fw fa-archive"></i>Projects</a>
    <hr class="white">
    <a  *ngIf="displayAdmin" (click)="displayMenu = false;" routerLink="/admin"><i class="fa fa-2x fa-fw fa-user-ninja"></i>Admin</a>
    <hr class="white">
    <a (click)="displayMenu = false;" routerLink="/login"><i class="fa fa-2x fa-fw fa-sign-out-alt"></i>Logout</a>
  </nav>
</div>
